
/*Body main Font=Inter Wajib */
body {
  margin: 0;
  font-family: "Inter", "Sans-serif";
}
/*Navigation Section and logo */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.Logo {
  margin-top: 20px;
  margin-left: 80px;
}
.Navigation {
  margin-right: 175px;
  display: flex;
  align-items: center;
}
.Navigation a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
}
/*Bagian Pembuka dan Logo Mahasiswa*/
.Opening {
  display: flex;
  justify-content: space-evenly;
}
.Opening1 {
  font-size: 55px;
  text-align: justify;
}
.Box_Opening {
  border: 500px;
  width: 770px;
}
#Paragraph1 {
  font-size: 37px;
  text-align: justify;
}
/*Bagian Divisi Nindya */
#LogoNindya {
  display: flex;
  justify-content: center;
}
.Nindya {
  font-size: 19px;
  text-align: center;
}
#Paragraph2 {
  text-align: justify;
  padding: 50px;
  width: 550px;
  margin: 0 auto;
}
/*Bagian Divisi Mentee dan Mentoring */
.Mentoring {
  display: flex;
  justify-content: center;
}
.Mentee {
  text-align: center;
  width: 470px;
  padding: 50px;
}
.Mentor {
  text-align: center;
  width: 470px;
  padding: 50px;
}

#Paragraph3 {
  text-align: justify;
}
#Paragraph4 {
  text-align: justify;
}
/*Video BSLC */
.Video {
  text-align: center;
}
/*Tombol Buat Divisi Nindya,Mentee,dan Mentor
sengaja di buat pisah*/
#Tombol_1 {
  background-color: #19a89d;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#Tombol_2 {
  background-color: #19a89d;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#Tombol_3 {
  background-color: #19a89d;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/*Bagian Footer*/
.display {
  margin-top: 100px;
  width: 80%;
  padding: 20px 10%;
  background: #000;
  color: #000;
  display: flex;
}
.display div {
  align-content: center;
  flex-grow: 2;
}
#White_Logo {
  margin-top: 50px;
  text-align: right;
}
